.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
  gap: 8px;
  display: none;
  @media (max-width: 700px) {
    display: flex;
  }
}
.text {
  color: #9f9f9f;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.btn {
  width: 100%;
}

.btn::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px;
  background: linear-gradient(200.68deg, #ff5c00 -5.8%, #16e3ff 117.01%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
