.wrapper {
  top: 40;
  left: 40;
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.text {
  font-size: 16px;
  line-height: 24px;
    @media (max-width: 700px) {
    text-align: center;
  }
}

.wrappedCenter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
